<div class="header-reg" style="background: #0C4B64;">
<button class="button icon-left ion-arrow-left-a button-clear" style="font-size:25px;position:absolute;top:25px;left:25px;" ui-sref="/test-home">Tests</button>
<h1>Naming</h1>
</div><div class="naming-intro" style="padding: 4% 10% 4% 10%;">
<h2 style="color:#b2b2b2;">“I’m going to show you some pictures,
and I’d like you to tell me what each one is called.
Please give me the full name for each item (that is, without using abbreviations).
For each one, you should be able to tell me the name of each picture by using a single word only.”</h2>
</div>
<div class="ali-mid">
<button class="button button-next" ng-click="nextSlide();">Start &nbsp;<i class="icon-right ion-arrow-right-a"></i></button></div>
