<ion-view>
  <ion-content scroll="false">
    <div class="header-reg">
      <a class="back_arrow" ui-sref="/" style="margin-left:20px;"></a>
      <h1 style="font-size: 3.125em;padding-right: 60px;">About the SYDBAT</h1>
    </div>
     <div class="pane-parent-percent ">
    <ion-slide-box  >

      <ion-slide>
        <div class="man_back_color">
        <div>
          <h4>Introduction</h4>
          <p>The Sydney Language Battery is a suite of four tests of language, using 30 single words. These tests are:</p>
          <span>1)	Naming</span>
          <span>2)	Repetition</span>
          <span>3)	Comprehension</span>
          <span>4)	Semantic Association</span>
          <p style="padding-top: 15px;">Each word is an imageable noun of three or more syllables. Words are ordered in decreasing frequency and are graded into three broad levels of difficulty (easy, moderate, difficult). </p>
          <p><strong>IMPORTANT:</strong> The order of test administration follows certain rules. </p>
          <p>1) Naming is <a href="#">always</a> administered first (so that the respondent has not been cued for the answers). </p>
          <p>2) Comprehension must <a href="#">always</a> be administered before Semantic Association. </p>
          <p>3) Repetition can be administered either as the 2nd, 3rd or final test. </p>
          <p>4) Note that Comprehension deliberately comprises pictures that are different from the other tasks. Where possible, a delay should be inserted between Naming and the Comprehension and Semantic Association subtests in order to reduce the impact of visual memory in aiding the respondent’s answers.</p>
        </div>
      </div>
      </ion-slide>
      <ion-slide>
        <div class="man_back_color">
          <div>
              <h4>Test development and psychometrics</h4>
              <p>The SYDBAT was developed by the FRONTIER research group at Neuroscience Research Australia  (http://www.neura.edu.au/frontier).<br /> FRONTIER is a clinical research group, led by Professor John Hodges and Associate Professor Olivier Piguet, dedicated to the study of frontotemporal dementia (FTD) and related disorders. The members of FRONTIER investigate the cognitive, behavioural, psychological, and brain changes associated with this disease and the impact on patients and their families.</p>
              <p>The SYDBAT’s focus on single word processing skills was designed to assist clinicians diagnosing different forms of primary progressive aphasia (PPA), where key differences in word retrieval, word repetition, comprehension and semantic knowledge are observed. Please refer to the publication - Savage et al (2013), Dementia and Geriatric Cognitive Disorders, 35(3-4), 208-218 - for more information.</p>
              <p>Based on a sample of healthy members (n = 54) of the community with a mean age of 68 years and mean 13.6 years of education, the following scores can be used to interpret “normal” performance.</p>
              <div style="width: 40%;">
                <div class="row" style="  padding: 0;border-top: 0 !important;border-right: 1px solid;">
                  <div class="col col-67"></div>
                  <div class="col col-bor" style="border-top:1px solid;">SD</div>
                  <div class="col col-bor" style="border-top:1px solid;">Mean</div>
                </div>
                <div class="row" style="padding:0;  border: 1px solid;">
                  <div class="col col-67">Naming</div>
                  <div class="col col-bor">26.6</div>
                  <div class="col col-bor">2.1</div>
                </div>
                <div class="row" style="padding:0;border: 1px solid; border-top: 0;">
                  <div class="col col-67">Word Comprehension</div>
                  <div class="col col-bor">29.1</div>
                  <div class="col col-bor">1.1</div>
                </div>
                <div class="row" style="padding:0;border: 1px solid; border-top: 0;">
                  <div class="col col-67">Semantic Association</div>
                  <div class="col col-bor">27.7</div>
                  <div class="col col-bor">1.4</div>
                </div>
                <div class="row" style="padding:0;border: 1px solid; border-top: 0;">
                  <div class="col col-67">Repetition</div>
                  <div class="col col-bor">29.9</div>
                  <div class="col col-bor">0.3</div>
                </div>
              </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="man_back_color">
          <h4>When considering a diagnosis of PPA:</h4>
          <p>1.	If Naming score is below 22 and Semantic Association score is below 24: the most likely diagnosis is semantic variant-PPA.  This is further supported by good Repetition and normal performance on other neuropsychological tests such as RFCT and Digit Span.</p>
          <p>2.	If Naming is below 22 but Semantic Association is > 24, the diagnosis is most likely logopenic variant-PPA.  Reductions on other neuropsychological tests such as RCFT and Digit Span further support the diagnosis of lv-PPA.</p>
          <p>3.	If Naming is > 22 and Semantic Association is > 24, the diagnosis is most likely nonfluent variant-PPA.  This diagnosis is then supported by errors in repetition, particularly with laboured, segmented delivery.  </p>
          <p>Each of the SYDBAT subtests shows good convergent validity when scores are compared with other established language measures (ranging from r = .67 for Repetition to r = .95 for Naming), and high test-retest reliability (mean interval of 27 days, r =.89 and above). Inter-rater reliability for repetition scoring also showed excellent results with an intra-class correlation coefficient of .96.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="man_back_color" style="overflow: auto;">
          <h4>Development of the SYDBAT app</h4>
          <p>Development of the SYDBAT app was made possible through support from both the Australian Research Council Centre of Excellence in Cognition and its Disorders and from Forefront, a collaborative research group dedicated to the study of frontotemporal dementia and motor neurone disease, funded by the National Health and Medical research Council of Australia.</p>
          <div class="about_footer" style="background-color: #fff">
              <a href="" class="left_logo"><img src="images/Final_Forefront_logo.png"></a>
              <a href="" class="right_logo"><img src="images/ccd_logo.png"></a>
              <div class="clear"></div>
              <a style="width: 100%;margin-top: 25px;display: inline-block;" href="#" class=""><img src="images/splash_logo.png"></a>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
    </div>
  </ion-content>
</ion-view>
