<ion-view>
  <ion-content scroll="false">
      <div  class="header-image">
        <div class="row">
          <div class="col col-67"><img style="max-width:100%;" src="images/nam-syd.png"></img></div>
          <div class="col col-33"><img style="max-width:100%;" src="images/header-temp.png"></div>
        </div>
      </div>
      <div class="pane-parent">
        <div class="home_buttons">
            <button class="button button-block button-next"
            style="max-height: 15%; margin: 3% 0;padding: 2% 2%;" ui-sref="/new-test">Start a New Assessment<i class="icon-right ion-arrow-right-a"></i></button>
            <button class="button button-block button-next"
            style="max-height: 15%; margin: 3% 0;padding: 2% 2%;" ui-sref="/activity-log">View Activity Log<i class="icon-right ion-arrow-right-a"></i></button>
            <button class="button button-block button-white" style="font-size: 25px;  height: 12%;  margin: 10% 0 3% 0; padding: 1% 1%;" ui-sref="/how-to-use" >How to Use this App?</button>
            <button class="button button-block button-white" style=" font-size: 25px; height: 12%;  margin: 3% 0;padding: 1% 1%;" ui-sref="/instructions" >Admin & Scoring Instructions</button>
            <button class="button button-block button-white" style="font-size: 25px;  height: 12%;  margin: 3% 0;padding: 1% 1%;" ui-sref="/about">About the SYDBAT</button>
            <div class="credits" style="position: absolute;  bottom: 0;  left: 41%;">SYDBAT App developed by pokko labs<img src="images/pokkolabs_logo.png"/></div>

        </div>
      </div>
  </ion-content>
</ion-view>
