<ion-view>
<ion-content scroll="false">
  <div class="header-reg">
    <h1>Scoring Practice</h1>
  </div>
  <div class="pane-parent-percent " detect-gestures>
    <img id="img-pr" style="width: 400px;  bottom: 0;  left: 0;  margin: auto;  position: absolute;  right: 0;  top: 0;" src="images/test-practice.png"/>
    <div id="message" class="centered" style="  background-color: transparent;  color: inherit;font-size: 42px;">
    </div>

    <button class="button button-light howtoscore_close" ui-sref="/test-home">Close</button>
  </div>
</ion-content>
</ion-view>
