<div class="header-reg" style="background: #0C4B64;">
<button class="button icon-left ion-arrow-left-a button-clear" style="font-size:25px;position:absolute;top:25px;left:25px;" ui-sref="/test-home">Tests</button>
<h1>Semantic Association</h1>
</div><div class="naming-intro" style="padding: 4% 10% 4% 10%;">
<h2 style="color:#b2b2b2;">“In this task, you will see 5 pictures on each page: one at the top,
   and 4 pictures below.  I would like you to choose which of the 4 pictures
    below best goes with the picture at the top.”</h2>
</div>
<div class="ali-mid">
<button class="button button-next" ng-click="nextSlide();">Start &nbsp;<i class="icon-right ion-arrow-right-a"></i></button></div>
