<h3 class="test-counter">Practice {{currentPointer}}</h3>
<div class="semantic-container">
  <div class="oneImg"><img ng-src="images/semantic_images/{{item.list[0]}}"></div>
  <div class="semantic-four" >
    <img id="1" ng-src="images/semantic_images/{{item.list[1]}}" ng-click="click(item,1);">
    <img id="2" ng-src="images/semantic_images/{{item.list[2]}}" ng-click="click(item,2);">
    <img id="3" ng-src="images/semantic_images/{{item.list[3]}}" ng-click="click(item,3);">
    <img id="4" ng-src="images/semantic_images/{{item.list[4]}}" ng-click="click(item,4);">
  </div>
</div>
