<div class="header-reg" style="background: #0C4B64;">
<button class="button icon-left ion-arrow-left-a button-clear" style="font-size:25px;position:absolute;top:25px;left:25px;" ui-sref="/test-home">Tests</button>
<h1>Word Comprehension</h1>
</div><div class="naming-intro" style="padding: 4% 10% 4% 10%;">
  <h2 style="color:#b2b2b2;">“Now, I would like you to point to the picture that matches the following word. Where is the…?”</h2>
</div>
<div class="ali-mid">
<button class="button button-next" ng-click="nextSlide();">Start &nbsp;<i class="icon-right ion-arrow-right-a"></i></button></div>
